---
import PrevNext from '../components/PrevNext.astro'
import site from '../data/site'
import Main from '../layouts/Main.astro'
import { type Post, type PostWithContent } from '../utils/collections'
import { getHumanReadableDate, getMachineReadableDate } from '../utils/dates'
import { FEATURED_COUNT, getPublishedPosts } from '../utils/posts'

const posts = await getPublishedPosts()

const postsToShowInline = posts.slice(0, FEATURED_COUNT) as PostWithContent[]
const postsToShowInList = posts.slice(FEATURED_COUNT) as Post[]
---

<Main title={site.title} description={site.description.site}>
  <h1 class="sr-only">{site.title}</h1>

  <section class="mx-auto max-w-[70ch]">
    <h2 class="sr-only">The full content of my {postsToShowInline.length} most recent posts</h2>

    <ol reversed>
      {
        postsToShowInline.map(post => {
          const date = post.data.date || post.data.lastModified

          return (
            <li>
              <article>
                <header>
                  <time datetime={getMachineReadableDate(date)} class="timestamp block mt-2 mb-1 md:min-w-[7rem]">
                    {getHumanReadableDate(date)}
                  </time>

                  <a href={`/${post.id}/`} class="link-heading heading text-[1.4rem]">
                    {post.data.title || post.id}
                  </a>
                </header>

                <div class="markdown pt-2">
                  <post.Content />
                </div>
              </article>

              <hr class="mt-16 mb-16 border-zinc-700" />
            </li>
          )
        })
      }
    </ol>
  </section>

  <section>
    <h2 class="sr-only">Recent Posts</h2>

    <ol reversed class="grid md:grid-cols-2 gap-x-6 xl:gap-x-12 mx-auto w-fit">
      {
        postsToShowInList.map(post => {
          const date = post.data.date || Date.now()

          return (
            <li class="pt-7 break-inside-avoid-column">
              <time datetime={getMachineReadableDate(date)} class="timestamp block md:min-w-[7rem]">
                {getHumanReadableDate(date)}
              </time>

              <a href={`/${post.id}/`} class="group outline-none">
                <span class="link">{post.data.title || post.id}</span>
              </a>
            </li>
          )
        })
      }
    </ol>
  </section>

  <PrevNext entry={null} prev={null} next={postsToShowInList[0]} />
</Main>
