---
import { getNestedNotes, type NoteWithChildren } from '../utils/notes'
import Main from '../layouts/Main.astro'

const title = 'Notes'

const notes = await getNestedNotes()
---

<Main title={title} description="Rough notes about coding and other topics.">
  <h1 class="sr-only">{title}</h1>

  <section>
    <h2 class="sr-only">Topics</h2>
    <ul class="list-notes">
      {
        notes.map(note => {
          const getLinkText = (item: NoteWithChildren): string => item.data.linkText || item.data.title || item.id

          const getChildren = (item: NoteWithChildren, level: number) =>
            item.data.children && (
              <ul>
                {item.data.children
                  // Sort alphabetically by link text
                  .sort((a: NoteWithChildren, b: NoteWithChildren) => getLinkText(a).localeCompare(getLinkText(b)))
                  .map((child: NoteWithChildren) => (
                    <li
                      class="before:content-['└'] before:pe-[0.3rem] mt-[0.1rem]"
                      style={`padding-left: ${level === 0 ? 0 : 1.4}rem`}
                    >
                      <a href={`/${child.id}/`} class="link">
                        {getLinkText(child)}
                      </a>

                      {/* Recursively render grandchildren, etc */}
                      {getChildren(child, level + 1)}
                    </li>
                  ))}
              </ul>
            )

          return (
            <li class="mb-2 break-inside-avoid-column">
              <a href={`/${note.id}/`} class="link">
                {getLinkText(note)}
              </a>

              {getChildren(note, 0)}
            </li>
          )
        })
      }
    </ul>
  </section>
</Main>
